body {
  background: radial-gradient(
    circle at 5.3% 17.2%,
    rgb(255, 208, 253) 0%,
    rgb(255, 237, 216) 90%
  );
}
br {
  max-height: 5px;
}
.container {
  padding: 65px 12px 49px 12px;
}
.card {
  border-width: 3px;
  border-color: rgb(237, 247, 254);
  border-radius: 20px;
  max-width: 1000px;
  max-height: 670px;
  display: block;
  margin: 0 auto;
}
.card-body {
  margin: 25px 40px 0px 40px;
}
#search-city {
  border-color: rgb(255, 201, 227);
  border-radius: 10px;
  height: 100%;
  font-family: Nunito;
  font-weight: 500;
  font-size: small;
}

.btn-light {
  font-size: x-small;
  font-family: Nunito;
  border-radius: 10px;
}
.main-image {
  width: 120px;
}
.weather-icons {
  width: 70px;
}
.city {
  font-size: 36px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: Nunito;
  font-weight: 500;
  color: rgb(96, 103, 109);
  line-height: 1;
}

.divider {
  font-size: 10px;
  text-align: left;
}
.body-text {
  font-size: 16px;
  font-family: Nunito;
  font-weight: 500;
  line-height: 1;
}
.align-right {
  text-align: end;
  padding: 0;
}
.align-left {
  text-align: start;
  padding: 0;
}
.align.center {
  text-align: center;
  padding: 0;
}
.extra-forecast {
  font-size: small;
}
.temperature {
  font-size: 70px;
  color: rgb(96, 103, 109);
  font-family: Nunito;
  font-weight: 500;
}
.day-text {
  letter-spacing: 6px;
  text-transform: uppercase;
}
.text-center {
  padding: 0px 30px 50px 30px;
  font-family: Nunito;
  font-weight: 500;
}
.current-location {
  font-size: x-small;
}
.page-links {
  text-align: center;
  font-family: Nunito;
  font-size: small;
}
.low-temp {
  color: slategrey;
}
.units {
  position: relative;
  font-size: 24px;
  top: -34px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
